body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}


.category{

  background-color: #1e90ff;

}

.category-title{

  font-size: 20px;
  color: #ffffff;

}

.dashboard-background{
  background-color: #f1f2f6;
}
